body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

.container {
    max-width: 600px;
    margin: auto;
}

.flor {
    width: 50px;
    height: 50px;
    object-fit: contain;
    margin: 10px;
}

.flor-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px auto;
    padding: 20px;
}

.flor-container-con-fondo {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: contain; /* Ajusta el tamaño del fondo */
    background-repeat: no-repeat; /* No repetir el fondo */
    background-position: center; /* Centra la imagen de fondo */
    height: 500px; /* Definir una altura para el área del fondo */
    width: 100%;
    border: 2px solid #ddd;
    max-width: 600px;
}

.fotografia {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Centra la imagen */
    max-width: 80%; /* Limitar el tamaño de la imagen */
    height: auto;
}

.flor {
    position: absolute;
    width: 50px;
    height: 50px;
    object-fit: contain;
    margin: 0;
    transition: all 0.2s ease-in-out;
}

.regresar {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    text-decoration: none;
}

.regresar:hover {
    background-color: #45a049;
}

@media (max-width: 768px) {
    .flor {
        width: 40px;
        height: 40px;
    }
}


